unpackaged/main/default/flows/Screen_consolidated_flows3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>counter_increment</name>
        <label>counter increment</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarR_singleopprecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarR_singleopprecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarR_singleopprecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForD_Opp_closedate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarD_closedate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarR_singleopprecord.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opp_reccollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarR_singleopprecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_Opp_records_need_to_fetch</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VarChoice1</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VarChoice3</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VarPicklistNoOfmonths</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VarTChoice2</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>check_if_Opp_records_need_to_fetch</name>
        <label>check if Opp records need to fetch</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Opp_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NoOfOppourtunities_to_create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_display_screen</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OppStageChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Defalutdatevalue</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),{!VarPicklistNoOfmonths})</expression>
    </formulas>
    <formulas>
        <name>ForD_Opp_closedate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!VarD_closedate},{!Select_months})</expression>
    </formulas>
    <interviewLabel>Screen : consolidated flows3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : consolidated flows3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opp_Records</name>
        <label>Create_Opp_Records</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputReference>opp_reccollection</inputReference>
    </recordCreates>
    <screens>
        <name>oppInputScreen</name>
        <label>oppInputScreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity_Info</targetReference>
        </connector>
        <fields>
            <name>NoOfOppourtunities_to_create</name>
            <dataType>Number</dataType>
            <fieldText>NoOfOppourtunities to create</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Info</name>
        <label>Opportunity_Info</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>counter_increment</targetReference>
        </connector>
        <fields>
            <name>OpportunityName</name>
            <dataType>String</dataType>
            <fieldText>OpportunityName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OpportunityStage</name>
            <choiceReferences>OppStageChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OpportunityStage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_months</name>
            <choiceReferences>VarChoice1</choiceReferences>
            <choiceReferences>VarTChoice2</choiceReferences>
            <choiceReferences>VarChoice3</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select months</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_display_screen</name>
        <label>Test display screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Info</targetReference>
        </connector>
        <fields>
            <name>displayRecValues</name>
            <fieldText>&lt;p&gt;{!VarR_singleopprecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>oppInputScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>opp_reccollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarD_closedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Defalutdatevalue</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarR_singleopprecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
