unpackaged/main/default/flows/screen_day7ws.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>set_selected_values</name>
        <label>set selected values</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>selectedrecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chkgroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_resource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountrating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colloctionvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>number1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colloctionvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>number2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colloctionvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>number3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>displaynumbers</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>accountratingpicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_accrecchoiceset</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>10</limit>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>var_addformula</name>
        <dataType>Number</dataType>
        <expression>IF({!number1}&gt;{!number2} &amp;&amp;{!number1}&gt;{!number3},
 {!number1},
 IF({!number2}&gt;{!number3} ,{!number2},{!number3}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>screen :day7ws {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screen :day7ws</label>
    <loops>
        <name>displaynumbers</name>
        <label>displaynumbers</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>colloctionvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>displayeachelement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Displayscreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>displayeachelement</name>
        <label>displayeachelement</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>displaynumbers</targetReference>
        </connector>
        <fields>
            <name>displaycollectionelement</name>
            <fieldText>&lt;p&gt;{!displaynumbers}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Displayscreen</name>
        <label>Displayscreen</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finalscreen</name>
            <fieldText>&lt;p&gt;{!selectedrecords}&lt;/p&gt;&lt;p&gt;==============&lt;/p&gt;&lt;p&gt;{!chkgroup}&lt;/p&gt;&lt;p&gt;{!var_resource}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Addition result:{!var_addformula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_selected_values</targetReference>
        </connector>
        <fields>
            <name>number3</name>
            <dataType>Number</dataType>
            <fieldText>number3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>number1</name>
            <dataType>Number</dataType>
            <fieldText>number1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>number2</name>
            <dataType>Number</dataType>
            <fieldText>number2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>chkgroup</name>
            <choiceReferences>var_accrecchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>chkgroup</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>accountrating</name>
            <choiceReferences>accountratingpicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>accountrating</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colloctionvar</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>selectedrecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_resource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
