unpackaged/main/default/flows/Screen_Casestudy3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>increment_counter</name>
        <label>increment counter</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_first_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_first_opp_close_date</name>
        <label>set first opp close date</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarOppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForD_firstopp_closedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRecordValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_for_next_opp</name>
        <label>set for next opp</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarOppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForD_Opp_closedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRecordValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordValues</name>
        <label>SetRecordValues</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VarOppRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opp_reccollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testdisplay</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>VarChoice1</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VarChoice3</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VarPicklistNoOfmonths</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VarTChoice2</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_first_opp</name>
        <label>Check for first opp</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>set_for_next_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_first_opp_close_date</targetReference>
            </connector>
            <label>First record</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_the_next_record_collection</name>
        <label>check for the next record collection</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>test2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>need to collect more records</defaultConnectorLabel>
        <rules>
            <name>collection_finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_counter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NoOfOppourtunities_to_create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_opportunity_records</targetReference>
            </connector>
            <label>collection finish</label>
        </rules>
    </decisions>
    <description>Create a screen flow each opportunity close date should be the previous opportunity start date</description>
    <dynamicChoiceSets>
        <name>OppStageChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ForD_firstopp_closedate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),{!Select_months})</expression>
    </formulas>
    <formulas>
        <name>ForD_Opp_closedate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!VarOppRecord.CloseDate},{!Select_months})</expression>
    </formulas>
    <interviewLabel>Screen: Casestudy3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Casestudy3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_opportunity_records</name>
        <label>Create opportunity records</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <inputReference>opp_reccollection</inputReference>
    </recordCreates>
    <screens>
        <name>oppInputScreen</name>
        <label>oppInputScreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity_Info</targetReference>
        </connector>
        <fields>
            <name>NoOfOppourtunities_to_create</name>
            <dataType>Number</dataType>
            <fieldText>NoOfOppourtunities to create</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Info</name>
        <label>Opportunity_Info</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>increment_counter</targetReference>
        </connector>
        <fields>
            <name>OpportunityName</name>
            <dataType>String</dataType>
            <fieldText>OpportunityName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OpportunityStage</name>
            <choiceReferences>OppStageChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OpportunityStage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_months</name>
            <choiceReferences>VarChoice1</choiceReferences>
            <choiceReferences>VarTChoice2</choiceReferences>
            <choiceReferences>VarChoice3</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select months</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test2</name>
        <label>test2</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Info</targetReference>
        </connector>
        <fields>
            <name>testdisplay2</name>
            <fieldText>&lt;p&gt;needs to collect more opp infos&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>testdisplay</name>
        <label>testdisplay</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_for_the_next_record_collection</targetReference>
        </connector>
        <fields>
            <name>display_single_record</name>
            <fieldText>&lt;p&gt;{!VarOppRecord.Name}{!VarOppRecord.CloseDate}{!VarOppRecord.StageName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>oppInputScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>opp_reccollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
