unpackaged/main/default/flows/Screen_ws_day_8.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_names_to_collection</name>
        <label>Add names to collection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarT_employeeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Employee_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckforAddingemployees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_name_to_variable</name>
        <label>Assing name to variable</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DisplayName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_filtered_names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>final_display_screen</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Fileter_employeenames</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Fileter_employeenames</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Fileter_employeenames</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>VarT_employeeList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Fileter_employeenames</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <elementReference>Enter_the_start_letter</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_filtered_names</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>CheckforAddingemployees</name>
        <label>CheckforAddingemployees</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Displayallcheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_more_names</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>first_screen</targetReference>
            </connector>
            <label>YEs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen: ws day-8 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: ws day-8</label>
    <loops>
        <name>loop_filtered_names</name>
        <label>loop_filtered_names</label>
        <locationX>352</locationX>
        <locationY>674</locationY>
        <collectionReference>Fileter_employeenames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_name_to_variable</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Displayallcheckbox</name>
        <label>Displayallcheckbox</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fileter_employeenames</targetReference>
        </connector>
        <fields>
            <name>DisplayAll</name>
            <dataType>Boolean</dataType>
            <fieldText>DisplayAll</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_the_start_letter</name>
            <dataType>String</dataType>
            <fieldText>Enter the start letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisplayAll</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>final_display_screen</name>
        <label>final display screen</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_filtered_names</targetReference>
        </connector>
        <fields>
            <name>FileteredNames</name>
            <fieldText>&lt;p&gt;{!DisplayName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>first_screen</name>
        <label>first screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_names_to_collection</targetReference>
        </connector>
        <fields>
            <name>Employee_Name</name>
            <dataType>String</dataType>
            <fieldText>Employee Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_more_names</name>
            <dataType>Boolean</dataType>
            <fieldText>Add more names</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>first_screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Fileter_employeenames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisplayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_employeeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
