unpackaged/main/default/flows/screen_ws2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_set_account_type</name>
        <label>Copy 1 of set account type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accounttyperesource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>others</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>displayscreen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setaccounttypeuser</name>
        <label>setaccounttypeuser</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accounttyperesource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accounttype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>displayscreen1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>accountTypeBlank</name>
        <label>accountTypeBlank</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>setaccounttypeuser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If accounttype is not blank</defaultConnectorLabel>
        <rules>
            <name>IFaccountTypeisBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accounttype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_set_account_type</targetReference>
            </connector>
            <label>IFaccountTypeisBlank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>screen:ws2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screen:ws2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>displayscreen1</name>
        <label>displayscreen1</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayscreen</name>
            <fieldText>&lt;p&gt;{!AccountName}&lt;/p&gt;&lt;p&gt;{!accounttyperesource}&lt;/p&gt;&lt;p&gt;{!Acount_revenue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>accountTypeBlank</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <dataType>String</dataType>
            <fieldText>AccountName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Acount_revenue</name>
            <dataType>Number</dataType>
            <fieldText>Acount revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Accounttype</name>
            <dataType>String</dataType>
            <fieldText>Accounttype</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accounttyperesource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
